* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #bbb;
  padding: 1.25rem 0;
}
.header-box {
  position: relative;
  width: 58.75rem;
  margin: 0 auto;
}
nav {
  position: absolute;
  top: 6.875rem;
  right: 0;
}
nav li {
  display: inline;
  margin: 0 0 0 1rem;
}
nav a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  font-size: 1.375rem;
  text-decoration: none;
}
nav a:hover {
  color: #7a550d;
  text-decoration: underline;
}
.bold-text {
  font-weight: bold;
}
.emphasis {
  font-style: italic;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 75%;
  margin: 0 auto;
  gap: 50px;
  padding: 30px;
  text-align: center;
}
.container h2 {
  font-size: 46px;
}
.container p {
  font-size: 26px;
}
.banner div {
  width: 100%;
  height: 600px;
}
.banner div img {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.beneficios div {
  width: 100%;
  height: 600px;
}
.beneficios div img {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
}
footer {
  text-align: center;
  background: url("./imagens/bg.jpg");
  padding: 2.5rem 0;
}
.copyright {
  color: white;
  font-size: 0.8125rem;
  margin: 1.25rem 0 0;
}
